header.blogPage {
    background-image: url(../Planted/planted-final-assets/blog-header-1.jpg);
    background-size: cover;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .black {
        background-color: #000;
        margin: 0px;

        .wrapper {
            display: flex;
            flex-direction: column;

            nav.topBar {
                display: flex;

                .logo {
                    @include title(#FFF, 30px)
                }

                ul.navBar {
                    display: flex;
                    list-style: none;
                    align-items: center;
                    justify-content: space-between;
                    @include nav;

                    li {
                        padding: 0 25px;

                        a {
                            text-decoration: none;
                            color: #FFF;
                        }

                        a:hover {
                            color: #F8E71C;
                        }
                    }
                }
            }
        }
}   }


.headerBlogTitle {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 60vh;

    h1 {
    @include headingContact;
    margin-top: 0px;
    width: 30%;
    }
}

i.fa-bars {
    visibility: hidden;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: -60px;
    font-size: 15px;
}

aside.sideBar {

    .window {
        position: absolute;
        margin-top: 80px;
        z-index: 1;
    
        img {
            width: 80%;
        }
    }

    .aboutPlanted {
        display: flex; 
        flex-direction: column;
        width: 320px; 
        height: 104%; 
        position: absolute;
        justify-content: flex-end;
        margin-left: 100px;
        background-color: #fff;
        padding-top: 0px;
        margin-top: 100px;
        padding: 0px 20px;

        h3 {
            @include blogHeading;
            margin: 35px 0px 0px 0px;
        }

        p {
            @include bodyText;
            margin: 0px;
            width: 95%; 
        }

        ul {
            @include bodyText;
            margin: 0px;
            width: 95%;
            padding: 10px;

            li {
                padding-left: 10px;
                color: $green;

                span {
                    color: $black;
                }
            }
        }
    }
}

section.mainBlog {
    background-color: $white;

    .boxShadow {

        .plantImage {
            position: relative;
    
            .greenPlant {
                position: absolute;
                top: -250px;
                width: 60%; 
                right: 0;
    
                img {
                    box-shadow: $yellow -15px 15px;
                }
            }   
        }
      
        .blogInfo {
            display: flex; 
            justify-content: flex-end;
            margin-right: 126px;


            .post {
                display: flex; 
                flex-direction: column;
                width: 56.95%; 
                margin-top: 220px;
                border-left: 5px solid $yellow;
                border-bottom: 5px solid $yellow;
                padding-left: 30px;

                h2 {
                    @include headingText;
                    margin-bottom: 0px;
                    margin-top: 100px;
                }

                p {

                    @include bodyText;
                    margin: 0px;
                    padding-bottom: 10px;

                    .author {
                        margin-bottom: 25px;
                    }

                }
            }
        }
    }

}

section.comments {
    display: flex; 
    justify-content: flex-end;
    background-color: $white;

    .reviews {
        display: flex; 
        flex-direction: column;
        width: 60%; 
        padding-right: 220px;

        .jeremy {
            display: flex;
            
            .jeremyPicture {
                width: 30%; 
                display: flex;
                align-items: flex-start;
                padding-top: 8px;
            }

            .jeremyComment {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 20px;
                margin-top: 0px;
                padding-top: 0px;
                text-align: left;

                h5 {
                    margin: 0px;
                    @include commentHeading;
                }

                p {
                    @include bodyText;
                    margin: 0px;
                }
                
            }
        }

        .julia {
            display: flex; 
            margin-top: 80px;

            .juliaPicture {
                width: 24%; 
                display: flex;
                align-items: flex-start;
                padding-top: 8px;
            }

            .juliaComment {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 20px;
                margin-top: 0px;
                padding-top: 0px;
                text-align: left;


                h5 {
                    margin: 0px;
                    @include commentHeading;
                }

                p {
                    @include bodyText;
                    margin: 0px;
                }
            }
        }

        h4 {
            @include blogHeading;
            margin: 0px;
            padding: 20px 0px;
        }
    }

}

section.blogForm {
    background-color: $white;

    form {
        display: flex;
        flex-direction: column;

        fieldset {
            border: none;
            text-align: center;
            color: $white;
        }

        input {
            border: none; 
            padding: 15px;
            width: 43%;
            border-bottom: 1px solid $green;
            margin-top: 40px;
            @include contactForm;
        }

        label {
            display: none;
        }
    
    }

}

input[type="blogText"] {
    @include contactForm;
    background-color: $white;
}

input[placeholder="Email"] {
    @include contactForm;
    background-color: $white;
}

textarea[class="blogTextarea"] {
    resize: none;
    border: 1px solid $green; 
    height: 250px;
    padding: 20px;
    margin: 30px 50px 40px 50px;
    @include contactForm;
    background-color: $white;
}

button[type="submit"] {
    background-color: $green;
    padding: 15px 30px;
    color: #fff;
    align-self: center;
    border: none;
    width: calc(100% - 100px);
    @include button;
    cursor: pointer;
    margin-bottom: 80px;
}

button:hover {
    color: $yellow;
}


input[type="email"] {
    margin-left: 18px;
}

.blogContactForm {
    position: relative;
    width: 60%; 
    right: 0;
    margin-left: 370px;
}

@media (max-width: 1024px) {
    section.form .box {
        left: 410px;
    }

    .window {
        width: 400px;
    }

    aside.sideBar .aboutPlanted  {
        margin: 0px;
        height: 80%;
    }

    .headerTitle h2 {
        margin-left: 20px;
    }

    section.contactInfo {
        .icons {
        margin-left: 20px;    
        }

        .information {
            margin-left: 20px;
        }
    }

    .headerBlogTitle h1 {
        margin-left: 20px;
    }

}

@media (max-width: 768px) {

    i.fa-bars {
        visibility: visible;
        // margin-right: 50px;
        font-size: 25px;
    }

    ul.navBar {
        visibility: hidden;
    }

    .blogContactForm {
        margin-left: 280px;
    }
    
    .juliaPicture,
    .jeremyPicture {
        visibility: hidden;
    }

    .sideBar .window {
        width: 40%;
    }

}

@media (max-width: 460px) {
    
    .blogContactForm {
        margin-left: 90px;
    }

    aside.sideBar .aboutPlanted {
        width: 150px;
        margin-top: 150px;
    }


    section.comments .reviews {
        padding-right: 20px;
    }
    
    section.mainBlog .blogInfo {
        margin: 0px;
        padding: 0px;
        width: 80%;
    }

    section.mainBlog .plantImage {
        top: 200px;
    }

}